{% extends "base.html" % }
{% block content %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
        <label>{{ form.password.label }}</label>
        {{ form.password(size=30) }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span class="error-message">{{ error }}</span>
            {% endfor %}
        {% endif %}
        </div>
        <div>
        {{ form.submit() }}
        </div>
    </form>
{% endblock content %}