body
{
        background:linear-gradient(white,rgb(129, 234, 240));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }   
h1{
    color:rgb(88, 37, 0);
    font-family:'Courier New', Courier, monospace;
    font-weight:2000;
}
p{
    color:rgb(79, 0, 189);
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    text-decoration: black dotted underline ;
}
ul{
    resize: horizontal;
    border-style: outset;
    border-color: aquamarine;
    border-width: 5px;
    border-radius: 20px;
    background-color: rgb(170, 254, 226);
    color:rgb(12, 0, 10);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}