{%extends "base.html"%}
{%block content%}

    <div class="card account-container">
    
    <img src="{{ url_for('static', filename='pics/' + (user.image_file or 'default.jpg')) }}" alt="{{ user.username }}'s profile picture">
    
        <div class="account-info">
        <p><strong>Username:</strong> {{ user.username }}</p>
        </div>
    </div>
    {% for post in posts.items %}
<div class="post-card">
    <div class="post-header">
        <img src="{{ url_for('static', filename='pics/' + (post.author.image_file or 'default.jpg')) }}" alt="{{ post.author.username }}'s profile picture">
        <div>
            <a href="{{ url_for('users.user_posts', username=post.author.username) }}" class="post-author-link"><p class="post-author">{{ post.author.username }}</p></a>
            <h6>{{ post.date_posted.strftime('%d %b %Y') }}</h6>
        </div>
    </div>
    <h2>{{ post.title }}</h2>
    <div class="post-content">
        <p>{{ post.content }}</p>3
    </div>
    {% if current_user == post.author %}
    <div class="post-actions">
        <a href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="post" style="margin: 0; padding: 0; box-shadow: none;">
            <button type="submit"> Delete</button>
        </form>
    </div>
    {% endif %}
</div>
    {% endfor %}

    {%for page in posts.iter_pages() %}
        {% if page %}
            {% if page != posts.page %}
                <a href="{{ url_for('users.user_posts', username=user.username, page=page) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{%endblock%}
